
@{
    ViewBag.Title = "GradesController";


}

    <link href="~/Content/Site.css" rel="stylesheet" />



<h2>GradesController</h2>
<form action="/Home/GradesController" method="Post">

    <h5>Enter your tests result:</h5>



    Test score 1
    <input type="number" name="score1" id="score1" step=".01" min="0" max="100" />
    <br />
    Test score 2
    <input type="number" name="score2" id="score2" step=".01" min="0" max="100" />
    <br />
    Test score3
    <input type="number" name="score3" id="score3" step=".01" min="0" max="100" />

    <br />
    <input type="submit" value="Submit" />

</form>

<div>
    <p>The average result from your test score is %@ViewData["Average"], giving you a <span class="@ViewBag.Grade"> @ViewData["Grade"]</span></p>
    <p></p>

</div>



