
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<h3>Go to the Loan here @Html.ActionLink("Loan", "LoanController")</h3>


<h3>Go to the Grades here @Html.ActionLink("Grades", "GradesController")</h3>